<Config>
	<config>
		<timeInfluxDB/>
		<timeFormat>dd/MM/yyyy/hh/mm/ss</timeFormat>
		<dbType>influxDB</dbType>
		<isWriteResultHead>true</isWriteResultHead>
		<isUseTemplate>false</isUseTemplate>
		<template>templates/transaction_template.xls</template>
		<configSQL>ConfigSQL.config</configSQL>
		<resultXlsx>templates/transaction_output.xlsx</resultXlsx>
		<resultCsv/>
	</config>
</Config>